body{
    padding-top: 70px;
    direction: rtl;
}
.headerPic{
    background-image: url("../imgs/backgroundHeader.jpg");
    background-size: cover;
    width: 100%;
}

/* category tamplate */
.categoryDiv{
    background-color: rgb(36, 2, 68);
    width: 80%;
    color: white;
}